.formulario, .formulario h2, .formulario .form-label, .check-list, .seguros {
  border-color: black;
  border-radius: 5px; }

.formulario, .check-list, .seguros {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

header {
  background-color: dimgray;
  color: black;
  text-decoration: none;
  overflow: hidden;
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  border-radius: 5px;
  border: 1px solid black;
  z-index: 1;
  font-size: 16px; }
  header img {
    margin-right: 15px;
    object-fit: cover; }

.form-control:enabled {
  border-color: black !important; }

.btn {
  color: black !important;
  border-color: black !important; }
  .btn:hover {
    background-color: black !important;
    border-color: white !important;
    color: dimgray !important; }

#hero {
  color: black;
  background-image: url(../img/empresa-de-detergentes1-940x470.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
  margin: 2%;
  padding: 2%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.2fr 0.1fr 1fr;
  grid-template-areas: "h1 h1"  "h2 h2" "p p" "iframe iframe";
  column-gap: 10px;
  border: 1px solid black; }
  #hero h1 {
    height: 30px;
    width: 270px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline;
    grid-area: h1;
    font-size: 23px; }
  #hero h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    grid-area: h2;
    font-size: 20px;
    width: 320px;
    height: 30px; }
  #hero p {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    grid-area: p;
    font-size: 16px; }
  #hero iframe {
    width: 100%;
    height: 100%;
    grid-area: iframe;
    border-radius: 5px; }

.carousel-item img {
  height: 600px;
  object-fit: cover;
  margin-top: 10px; }

#body {
  border: 1px solid black;
  background-color: dimgray;
  margin: 2%;
  padding: 2%;
  background-image: url(../img/autorepairworkshop_cover.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  text-decoration: none; }
  #body h1 {
    background-color: rgba(255, 255, 255, 0.5);
    display: inline;
    font-size: 23px; }
  #body ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center; }
    #body ul li {
      text-decoration: none;
      width: 120px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: 10px; }
      #body ul li a img {
        width: 110px;
        padding: 12px;
        margin: 2px;
        background-color: dimgray;
        border-radius: 15px; }
      #body ul li h3 {
        background-color: rgba(255, 255, 255, 0.5);
        margin: 0px;
        font-size: 20px; }

.body {
  padding: 10px; }
  .body .card {
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.3); }
    .body .card:hover {
      -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.5);
      box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.5); }
    .body .card img {
      height: 250px;
      object-fit: contain; }

.formulario {
  margin: 20px;
  background-image: url(../img/autoroto.jpg);
  padding: 10px; }
  .formulario h2 {
    font-size: 23px;
    background-color: rgba(255, 255, 255, 0.5); }
  .formulario .form-label {
    background-color: rgba(255, 255, 255, 0.5); }
  .formulario .form-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 250px; }
  .formulario div .btn {
    margin: 10px; }

.nosotros {
  background-color: dimgray; }

.check-list {
  margin: 20px;
  background-image: url(../img/listaauto.jpg);
  color: white;
  padding: 10px; }
  .check-list h6 {
    font-size: 20px; }
  .check-list .list-group {
    margin: 10px; }
    .check-list .list-group .list-group-item {
      margin: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white; }

.seguros {
  margin: 20px;
  background-image: url(/../img/autoseguros.jpg);
  color: white;
  padding: 10px; }
  .seguros h4 {
    font-size: 23px; }
  .seguros h6 {
    font-size: 20px; }
  .seguros .row div .btn {
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.5); }

footer {
  background-color: dimgray;
  height: 150px;
  width: 500;
  margin-top: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: 5px;
  border: 1px solid black; }
  footer div {
    padding: 20px;
    font-size: 16px; }
    footer div a img {
      width: 25px;
      margin-right: 5px;
      margin-bottom: 3px; }
  footer .nosotros {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    footer .nosotros a {
      text-decoration: none;
      color: black; }

@media screen and (max-width: 650px) {
  header ul {
    padding: 0px; }
  header img {
    width: 35px; } }

@media screen and (max-width: 850px) {
  #body ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr; }
  .hero .carousel-item img {
    height: 250px;
    object-fit: cover;
    margin-top: 10px; } }
