footer{
    background-color:$color-primcipal;
    height: 150px;
    width: 500;
    margin-top: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    border: 1px solid $color-secundario;
    div{
        padding: 20px;
        font-size: 15px;
        a{
            img{
                width: 25px;
                margin-right: 5px;
                margin-bottom: 3px;
            }
        }
    }
    .nosotros{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a{
            text-decoration: none;
            color: $color-secundario;
        }
    }
}