body{
    background: rgb(255,255,255);
background: linear-gradient(175deg, rgba(255,255,255,1) 29%, rgba(0,0,0,1) 100%);
}

#hero {
    color: $color-secundario;
    background-image: url(../img/empresa-de-detergentes1-940x470.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    margin: 2%;
    padding: 2%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.1fr 1fr;
    grid-template-areas: 
    "h1 h1" 
    "h2 h2"
    "p p"
    "iframe iframe";
    column-gap: 10px;
    @extend %borde;
    
    h1{
        height: 30px;
        background-color: rgba(255, 255, 255, 0.5) ;
        display: inline;
        grid-area: h1;
        font-size: nth($font-size, 3);
    }
    h2{
        color: $color-terciario;
        background-color: rgba(0, 0, 0, 0.5);
        grid-area: h2;
        font-size: nth($font-size, 2);
        height: 30px;
    }
    p{
        color: $color-terciario;
        background-color: rgba(0, 0, 0, 0.5);
        grid-area: p;
        font-size: nth($font-size, 1);
    }
    iframe{
        width: 100%;
        height: 100%;
        grid-area: iframe;
        border-radius: 5px;
    }
}
.carousel-item img {
    height: 600px;
    object-fit: cover;
    margin-top: 10px;
}

#body{
    @extend %borde;
    background-color: $color-primcipal;
    margin: 2%;
    padding: 2%;
    background-image: url(../img/autorepairworkshop_cover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    text-decoration: none;
    h1{
    background-color: rgba(255, 255, 255, 0.5);
    display: inline;
    font-size: nth($font-size, 3);
    }
    
    ul{
        text-decoration: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        li{
            text-decoration: none;
            width: 120px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin: 10px;
            a{
                img{
                    width: 110px;
                    padding: 12px;
                    margin: 2px;
                    background-color:$color-primcipal;
                    border-radius: 15px;
                }
            }
            h3{
                background-color: rgba(255, 255, 255, 0.5);
                margin: 0px;
                font-size: nth($font-size, 2);
            }
        }
    }
}

.body{
    padding: 10px;
    .card{
        -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.3);
        -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.3);
        box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.3);
        border-color: rgba(0, 0, 0, 0.3);
        &:hover{
            -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.5);
        -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.5);
        box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.5);
        }
        img{
            height: 250px;
            object-fit: contain;
        }
    }
}

.formulario{
    @extend %borde;
    margin: 20px;
    background-image: url(../img/autoroto.jpg);
    @extend %imagen-fondo;
    padding: 10px;

    h2{
        font-size: nth($font-size, 3);
        background-color: rgba(255, 255, 255, 0.5);
        @extend %borde;
    }
    .form-label{
        background-color: rgba(255, 255, 255, 0.5);
        @extend %borde;
    }
    .form-text{
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        width: 250px;
    }
    div{
        .btn{
            margin: 10px;
        }
    }
}

.nosotros{
    padding: 20px;

    .accordion{
        .accordion-body{
            ul{
                list-style: none;
                li{
                    margin: 2px;
                }
            }
        }
    }
}

.check-list{
    margin: 20px;
    background-image: url(../img/listaauto.jpg);
    @extend %imagen-fondo;
    color: $color-terciario;
    @extend %borde;
    padding: 10px;

    h6{
        font-size: nth($font-size, 2);
    }
    .list-group{
        margin: 10px;
        .list-group-item{
            margin: 5px;
            background-color: rgba(0, 0, 0, 0.5);
            color: $color-terciario;
        }
    }
}

.seguros{
    margin: 20px;
    background-image: url(../img/autoseguros.jpg);
    color: white;
    @extend %imagen-fondo;
    padding: 10px;
    @extend %borde;

    h4{
        font-size: nth($font-size, 3);

    }
    h6{
        font-size: nth($font-size, 2);
    }
    .row{
        div{
            .btn{
                margin: 10px;
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}
