// /*! Funcionalidades */

// /*! VARIABLES */
$color-primcipal: rgb(170, 170, 170);
$color-secundario: black;
$color-terciario: white;

// listas
$colores: red, yellow, black, blue, gray;
$font-size: 16px, 20px, 23px, 25px,;

// Mapas
$borde:(
    border: 1px solid,
    borde-color: black,
    borde-radio: 5px,
);

%borde{
    border: 1px solid black;
    border-radius: 5px;
}

%imagen-fondo{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

// Mixin
@mixin flex($felx, $justify, $aling){
    display: $felx;
    justify-content: $justify;
    align-items: $aling;
}

// Condicionales
